<h1>Listing thresholds</h1>

<table>
  <tr>
    <th>Thresholdweight</th>
    <th>Thresholdspeed</th>
    <th>Thresholdtemperature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thresholds.each do |threshold| %>
  <tr>
    <td><%= threshold.thresholdWeight %></td>
    <td><%= threshold.thresholdSpeed %></td>
    <td><%= threshold.thresholdTemperature %></td>
    <td><%= link_to 'Show', threshold %></td>
    <td><%= link_to 'Edit', edit_threshold_path(threshold) %></td>
    <td><%= link_to 'Destroy', threshold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Threshold', new_threshold_path %>
