<meta http-equiv="refresh" content="5; URL=http://capstone.cyclone8.org">
<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
	  <h1 style="text-align: center;">Monitoring System Status</h1>
        </div> <!-- span12 -->
      </div> <!-- row -->
      <div class="row">
	<div class="span4">
	  <h2>Weight</h2>
	  <div>
	    <p>Latest Measurement (<%= (Time.zone.now - @latest.created_at).round %> secs ago):</p>
	    <p style="margin-left: 20px;"><%= @latest.weight %> g</p>
	  </div>
	  <div> <!-- tabs -->
	    <ul id="weightTab" class="nav nav-tabs">
	      <li class="active">
		<a href="#weight15" data-toggle="tab">15 min</a>
	      </li>
	      <li>
		<a href="#weight60" data-toggle="tab">60 min</a>
	      </li>
	      <li>
		<a href="#weight360" data-toggle="tab">6 hr</a>
	      </li>
	    </ul>
	    <div id="weightTabContent" class="tab-content">
	      <div class="tab-pane fade in active" id="weight15">
		<div id="last15_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last15_chart', width: 370},
		      title: { text: 'Weights from last 15 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'grams' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last15.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.weight %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last15.each do |i| %>
		  <li <% if i.weight > i.thresholdWeight %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.weight %> g
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pane fade" id="weight60">
		<div id="last60_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last60_chart', width: 370},
		      title: { text: 'Weights from last 60 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'grams' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last60.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.weight %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last60.each do |i| %>
		  <li <% if i.weight > i.thresholdWeight %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.weight %> g
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pade fade" id="weight360">
		<div id="last360_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last360_chart', width: 370},
		      title: { text: 'Weights from last 6 hours:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'grams' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last360.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.weight %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last360.each do |i| %>
		  <li <% if i.weight > i.thresholdWeight %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.weight %> g
		  </li>
		<% end %>
		</ul>
	      </div>
	    </div> <!-- weightTabContent -->
	  </div> <!-- tabs -->
	</div> <!-- span4 -->
	<div class="span4">
	  <h2>Speed</h2>
	  <div>
	    <p>Latest Measurement (<%= (Time.zone.now - @latest.created_at).round %> secs ago):</p>
	    <p style="margin-left: 20px;"><%= @latest.speed %> mph</p>
	  </div>
	  <div> <!-- tabs -->
	    <ul id="speedTab" class="nav nav-tabs">
	      <li class="active">
		<a href="#speed15" data-toggle="tab">15 min</a>
	      </li>
	      <li>
		<a href="#speed60" data-toggle="tab">60 min</a>
	      </li>
	      <li>
		<a href="#speed360" data-toggle="tab">6 hr</a>
	      </li>
	    </ul>
	    <div id="speedTabContent" class="tab-content">
	      <div class="tab-pane fade in active" id="speed15">
		<div id="last15speed_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last15speed_chart', width: 370},
		      title: { text: 'Speeds from last 15 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'mph' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last15.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.weight %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last15.each do |i| %>
		  <li <% if i.speed > i.thresholdSpeed %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.speed %> mph
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pane fade" id="speed60">
		<div id="last60speed_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last60speed_chart', width: 370},
		      title: { text: 'Speeds from last 60 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'mph' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last60.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.speed %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last60.each do |i| %>
		  <li <% if i.speed > i.thresholdSpeed %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.speed %> mph
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pade fade" id="speed360">
		<div id="last360speed_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last360speed_chart', width: 370},
		      title: { text: 'Speeds from last 6 hours:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'mph' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last360.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.speed %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last360.each do |i| %>
		  <li <% if i.speed > i.thresholdSpeed %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.speed %> mph
		  </li>
		<% end %>
		</ul>
	      </div>
	    </div> <!-- speedTabContent -->
	  </div> <!-- tabs -->
	</div> <!-- span4 -->
	<div class="span4">
	  <h2>Temperature</h2>
	  <div>
	    <p>Latest Measurement (<%= (Time.zone.now - @latest.created_at).round %> secs ago):</p>
	    <p style="margin-left: 20px;"><%= @latest.temperature %> &deg;C</p>
	  </div>
	  <div> <!-- tabs -->
	    <ul id="temperatureTab" class="nav nav-tabs">
	      <li class="active">
		<a href="#temperature15" data-toggle="tab">15 min</a>
	      </li>
	      <li>
		<a href="#temperature60" data-toggle="tab">60 min</a>
	      </li>
	      <li>
		<a href="#temperature360" data-toggle="tab">6 hr</a>
	      </li>
	    </ul>
	    <div id="temperatureTabContent" class="tab-content">
	      <div class="tab-pane fade in active" id="temperature15">
		<div id="last15temp_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last15temp_chart', width: 370},
		      title: { text: 'Temperatures from last 15 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'C' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last15.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.temperature %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last15.each do |i| %>
		  <li <% if i.temperature > i.thresholdTemperature %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.temperature %> &deg;C
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pane fade" id="temperature60">
		<div id="last60temp_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last60temp_chart', width: 370},
		      title: { text: 'Temperatures from last 60 minutes:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'C' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last60.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.temperature %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last60.each do |i| %>
		  <li <% if i.temperature > i.thresholdTemperature %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.temperature %> &deg;C
		  </li>
		<% end %>
		</ul>
	      </div>
	      <div class="tab-pade fade" id="temperature360">
		<div id="last360temp_chart"></div>
		<script>
		  $(function () {
		    new Highcharts.Chart({
		      chart: { renderTo: 'last360temp_chart', width: 370},
		      title: { text: 'Temperatures from last 6 hours:' },
		      xAxis: { type: 'linear', title: { text: 'secs ago' } },
		      yAxis: { title: { text: 'C' } },
		      plotOptions: { line: { showInLegend: false } },
		      series: [{
		        data: [
		          <% @last360.each do |i| %>
			    [<%= (Time.zone.now - i.created_at).round %>,
			      <%= i.temperature %> ],
			  <% end %>
		        ]
		      }]
		    });
		  });
		</script>
		<ul>
		<% @last360.each do |i| %>
		  <li <% if i.temperature > i.thresholdTemperature %>style="background-color: red;"<% end %>>
		    <%= (Time.zone.now - i.created_at).round %> secs ago:
		    <%= i.temperature %> &deg;C
		  </li>
		<% end %>
		</ul>
	      </div>
	    </div> <!-- temperatureTabContent -->
	  </div> <!-- tabs -->
	</div> <!-- span4 -->
      </div> <!-- row -->
    </div> <!-- content -->
  </div> <!-- container -->
</div> <!-- main -->




